.bread_crumb {
  margin: 0 100px;
  display: flex;
  gap: 10px;
}

.bread_crumb span {
  display: flex;
  gap: 10px;
}

.bread_crumb div:last-child p {
  color: red;
}

.bread_crumb p::first-letter {
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .bread_crumb {
    margin: 0 10px;
  }
}