.footer {
  border-top: 2px solid whitesmoke;
  margin-top: 100px;
}

.footer_info_container {
  display: flex;
  background-color: white;
  margin: 50px 100px;
  justify-content: space-between;
  gap: 40px;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  padding: 10px;
  background-color: rgb(45, 44, 44);
  color: white;
  font-size: small;
}

.footer_info > h4 {
  margin-bottom: 30px;
}

.footer_info > ul > li {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  font-size: small;
}


@media (max-width: 500px) {
  .footer_info_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer_info_container > div {
    width: 100%;
    display: grid;
    justify-items: center;
  }

  .footer_info > ul {
    display: grid;
    justify-items: center;
  }
}