.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.header > img {
  justify-self: center;
  max-width: 100px;
}

.header_phone_number {
  color: var(--a-text-color);
}

.logo {
  grid-column: 1 / 2;
  max-width: 50px;
}

.support {
  justify-self: end;
  border-right: 1px solid rgb(225, 214, 214);
  padding-right: 20px;
}

.hotline {
  justify-self: center;
}

.feedback {
  justify-self: start;
}

.icons {
  border: 1px solid;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(71, 70, 70);
  border-radius: 5px;
}

.user-dropdown,
.cart {
  width: 50px;
  color: white;
}

.user-cart {
  justify-self: center;
  display: flex;
  gap: 30px;
}

.user-dropdown-content {
  position: absolute;
  transform: translate(-100px);
  color: white;
  background-color: white;
  padding: 10px 10px;
  border: 1px solid var(--border-color-gray);
  border-top: none;
  border-radius: 5px;
}

.user-dropdown-content {
  display: none;
}

.header-dropdown:hover .user-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-dropdown-content a {
  color: black;
  padding: 5px 40px;
  border: 1px solid brown;
  border-radius: 5px;
}

.user-dropdown-content a:first-child {
  color: white;
  background-color: rgb(190, 47, 47);
}

.user-dropdown-content a:hover {
  background-color: white;
  color: var(--a-text-color);
  border: 1px solid var(--a-text-color);
}