.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.logo {
  justify-self: center;
}

.logo img {
  height: 100px;
  justify-self: center;
  aspect-ratio: 2/1;
  max-width: 100%;
}

.phone_number {
  color: var(--a-text-color);
}


.support {
  border-right: 1px solid var(--border-color-gray);
  padding-right: 20px;
}

.services {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  border: 1px solid;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgb(71, 70, 70);
  border-radius: 5px;
}

.user-dropdown,
.cart {
  width: 50px;
  color: white;
}

.user-cart {
  justify-self: center;
  display: flex;
  gap: 30px;
}

.user-dropdown-content {
  position: absolute;
  transform: translate(-91px);
  color: var(--background-color-white);
  background-color: var(--background-color-white);
  padding: 10px 10px;
  border: 1px solid var(--border-color-gray);
  border-top: none;
  border-radius: 5px;
}

.user-dropdown-content {
  display: none;
}

.header-dropdown:hover .user-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-dropdown-content a {
  color: black;
  padding: 5px 40px;
  border: 1px solid brown;
  border-radius: 5px;
}

.user-dropdown-content a:first-child {
  color: white;
  background-color: rgb(190, 47, 47);
}

.user-dropdown-content a:hover {
  background-color: white;
  color: var(--a-text-color);
  border: 1px solid var(--a-text-color);
}

@media (max-width: 900px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .services {
    display: none;
  }
}