.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.active {
  color: rgb(236, 18, 18);
}

.logo_header {
  width: 200px;
  justify-self: center;
}

.logo_header img {
  max-width: 100%;
  object-fit: contain;
  aspect-ratio: 16/9;
}

.phone_number {
  color: var(--a-text-color-orange);
}

.navigate {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
}

.support {
  border-right: 1px solid var(--border-color-gray);
  padding-right: 20px;
}

.icons {
  padding: 10px 20px;
  display: flex;
  background-color: rgb(71, 70, 70);
  border-radius: 5px;
  color: white;
}

.icons.cart {
  position: relative;
}

.cart_length {
  position: absolute;
  transform: translate(30px, -20px);
  color: black;
  background-color: white;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 20px;
}

.user_cart {
  justify-self: center;
  display: flex;
  gap: 30px;
}

.user-dropdown-content {
  position: absolute;
  transform: translate(-91px);
  color: var(--background-color-white);
  background-color: var(--background-color-white);
  padding: 10px 10px;
  border: 1px solid var(--border-color-gray);
  border-top: none;
  border-radius: 5px;
}

.user-dropdown-content {
  display: none;
}

.header-dropdown:hover .user-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.user-dropdown-content a {
  color: black;
  padding: 5px 40px;
  border: 1px solid brown;
  border-radius: 5px;
}

.user-dropdown-content a:first-child {
  color: white;
  background-color: rgb(190, 47, 47);
}

.user-dropdown-content a:hover {
  background-color: white;
  color: var(--a-text-color-orange);
  border: 1px solid var(--a-text-color-orange);
}



@media (max-width: 800px) {
  .header {
    display: flex;
    justify-content: space-around;
  }

  .navigate {
    display: none;
  }
}