.login_container {
  border-top: 1px solid red;
  padding-top: 30px
}

.login_form {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.login_form form {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 3px solid rgb(145, 142, 142);
  border-radius: 5px;
  padding: 20px;
}

.username_login,
.password_login {
  display: grid;
  gap: 5px;
}

.login_form input {
  padding: 0.5em 6em 0.5em 1em;
}

.login_form form button {
  padding: 0.7em 3em;
  background-color: var(--a-text-color-orange);
  color: white;
  border: none;
  border-radius: 10px;
}

.login_register div {
  display: flex;
  gap: 5px;
  font-size: small;
}

.login_register a {
  color: var(--a-text-color-orange);
  text-decoration: underline;
}

.login_register:hover a {
  font-weight: bolder;
}