.nav_search {
  display: flex;
  background-color: rgb(43, 41, 41);
  align-items: center;
  margin-top: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  margin-left: 165px;
  color: white;
  background-color: rgb(53, 96, 188);
  font-size: large;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
  padding: 12px 7em 12px 10px;
  align-items: center;
}

.nav > .nav-list {
  display: none;
}

.nav:hover .nav-list {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  color: black;
  z-index: 1;
  position: absolute;
  width: 228px;
  background-color: white;
  border-bottom: 1px solid var(--border-color-gray);
  border-left: 1px solid var(--border-color-gray);
  border-right: 1px solid var(--border-color-gray);
  ;
}

.nav-list > div {
  display: flex;
  gap: 10px;
  align-content: center;
  padding: 0.8em;
}

.nav-list > div > a {
  text-decoration: none;
  color: black;
}

.nav-list > div:hover {
  background-color: orangered;
  color: white;
}

.search {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.search input {
  width: 30vw;
  padding: 1em 1em;
  outline: none;
  border: none;
}

.search button {
  background-color: rgb(229, 227, 226);
  border-top-right-radius: 10px;
  padding: 10px;
}

.search button:hover {
  color: orangered;
}