.notification_success,
.notification_error {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  z-index: 99;
  position: fixed;
  right: 50%;
  transform: translate(-50%, -50%);
}

.notification_error {
  top: 30%;
  color: black;
  background-color: red;
}

.notification_success {
  top: 40%;
  color: white;
  background-color: black;
}