.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 10px 100px;
}

.pagination button {
  cursor: pointer;
  color: black;
  background-color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid;
}

.pagination button:hover {
  background-color: orangered;
  color: white;
}

.pagination button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.pagination button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 1000px) {
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px;
  }
}