.products_container {
  background-color: var(--background-color-gray);
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.row {
  margin: 10px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.row h2 {
  border-left: 4px solid var(--a-text-color);
  padding: 5px;
  align-self: start;
}

.products {
  display: flex;
  overflow-x: auto;
}

.product_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(240, 236, 236);
  padding: 20px 10px;
  background-color: var(--background-color-white);
  gap: 10px;
  justify-content: space-around;
  flex-shrink: 0;
  max-width: calc(100% / 5);
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.product_card:hover img {
  opacity: 0.5;
}

.product_card:hover .hover_cart {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hover_cart {
  display: none;
}

.hover_cart button {
  color: orangered;
  padding: 5px;
}

.name_price {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.name_price p {
  color: orangered;
}

@media (max-width: 800px) {
  .row {
    margin: 0 50px;
  }

  .product_card {
    max-width: calc(100% /3);
  }
}

@media (max-width: 600px) {
  .row {
    margin: 0 10px;
  }

  .product_card {
    max-width: calc(100% /2);
    padding: 10px 5px;
  }

}

@media (max-width: 400px) {
  .product_card {
    max-width: 200px;
    padding: 0;
  }
}