.categories_and_search_bar {
  display: flex;
  gap: 50px;
  margin: 30px 0 40px;
  padding: 5px 100px;
  background-color: gray;
}

.products_price_sort {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 30px 100px 0 0;
  color: red;
}

.products_price_sort button {
  border: none;
  padding: 7px 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.high_to_low,
.low_to_high {
  color: var(--color-orange-red);
}

@media (max-width: 1000px) {
  .categories_and_search_bar {
    padding: 5px 10px;
    gap: 30px;
  }

  .products_price_sort {
    padding: 5px;
    margin-right: 10px;
  }
}

@media (max-width:600px) {
  .categories_and_search_bar {
    gap: 10px;
  }
}