.search_bar {
  display: flex;
  background-color: black;
  margin-bottom: 50px;
  justify-content: center;
}

.search_bar input {
  margin: 5px 0;
  padding: 10px 10px;
  width: 30%;
  border-right: 1px solid;
  border: none;
}

.search_icon {
  background-color: white;
  margin: 5px 0;
  padding: 10px;
}

@media (max-width: 800px) {
  .search_bar input {
    width: 40%;
  }
}