.main {
  margin: 100px;
  height: 400px;
}

.product-container.smartphones {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid blue;
  width: 80vw;
  height: 300px;
  gap: 20px;
}

.product-card {
  height: 60%;
}

.product-thumbnail {
  height: 90%;
  width: 100%;
}