@import url(./styles/header.css);
@import url(./styles/categories.css);
@import url(./styles/nav&search_bar.css);
@import url(./styles/product_card.css);
@import url(./styles/banner.css);
@import url(./styles/footer.css);

* {
  --a-text-color: orangered;
  --border-color-gray: rgb(228, 219, 219);
  --background-color-gray: rgb(237, 237, 237);
  --background-color-white: white;


  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--a-text-color);
}