@import url(./styles/Banner.css);
@import url(./styles/Breadcrumb.css);
@import url(./styles/Footer.css);
@import url(./styles/CartPage.css);
@import url(./styles/Header.css);
@import url(./styles/RegisterForm.css);
@import url(./styles/ProductsPage.css);
@import url(./styles/LoginForm.css);
@import url(./styles/Product.css);
@import url(./styles/Pagination.css);
@import url(./styles/NavAndSearch.css);
@import url(./styles/Notification.css);
@import url(./styles/ProductsCard.css);
@import url(./styles/HomePage.css);

* {
  --a-text-color-orange: orangered;
  --border-color-gray: rgb(228, 219, 219);
  --background-color-gray: rgb(237, 237, 237);
  --background-color-white: white;


  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--a-text-color-orange);
}

input {
  outline: none;
}

button:active {
  transform: scale(0.96);
  opacity: 0.8;
}